td,th {
	width:min-content
}

.spell-list {
	max-width:fit-content;
	table-layout: fixed;
}

.spell-list th:first-of-type, .spell-list th:nth-of-type(4) {
	width: 10%;
}

.spell-list tr td:first-of-type, .spell-list tr td:nth-of-type(4) {
	text-align: center;
}

.spell-list th:nth-of-type(2) {
	margin-right: 2em;
}

.spell-list th:nth-of-type(2), .spell-list th:last-of-type {
	width: 20%;
}
